.formLogin {
    position: absolute;
    top: 15% !important;
}
.card {
    border-radius: 10px;
}
.form-control:focus {
    box-shadow: 0 0 0 .2rem white !important;
    border-color: #ff6fa4 !important;
}
input.form-control {
    border-top: 0px solid #7f758d !important;
    border-left: 0px solid #7f758d !important;
    border-right: 0px solid #7f758d !important;
    border-bottom: 0px solid #7f758d !important;
    box-shadow: 0 0 0px white !important;
}
.form-control {
    border-top: 0px solid #ced4da !important;
    border-left: 0px solid #ced4da !important;
    border-right: 0px solid #ced4da !important;
    border-bottom: 1px solid #ced4da;
}
.bg-pink {
    border-color: #ff6fa4 !important;
    background-color: #ff6fa4 !important;   
    font-weight: 600;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgb(250, 124, 197) !important;
}
.btn {
    border-radius: 30px;
}