.card {
	border-radius: 10px;
}

.card-body {
	padding: 20px 20px 0px 20px !important;
}

.btn-primary {
	padding: 15px 20px 0px 20px;
}

p,
h4,
.navbar-brand {
	color: #515c6f !important;
}

.head-title {
	color: #3a4250 !important;
	font-weight: 600;
}

.desc {
	font-size: 12px;
}

h4,
.navbar-brand {
	font-weight: 500;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rounded {
	border-radius: 10% !important;
	/* width: 2000px !important; */
}

.btn-secondary {
	border-color: #ff6fa4 !important;
	background-color: #ff6fa4 !important;
	border-radius: 13px;
	/* padding: 15px 20px !important; */
	font-weight: 600;
	padding: 0px 10px;
}
.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:not(:first-child) {
	border-top-left-radius: 13px !important;
	border-bottom-left-radius: 13px !important;
	border-top-right-radius: 13px !important;
	border-bottom-right-radius: 13px !important;
}

.btn-secondary.focus,
.btn-secondary:focus {
	box-shadow: 0 0 0 .2rem rgb(250, 124, 197) !important; 
}

.title-detail {
	color: #ff6fa4 !important;
	font-weight: 700;
}

.time {
	color: #ff6fa4 !important;
	font-weight: 700;
	font-size: 40px !important;
}

.spinner-border {
	color: #ff6fa4;
}
.spinner-text {
	font-weight: 500;
	font-family: Verdana,
	Geneva,
	Tahoma,
	sans-serif;
	color: #515c6f !important;
}
.treatment-img {
	border-radius: 10px;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:20px;
	background-color:#ff6fa4;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:15px;
}